a{
	text-decoration:none !important;
}

.myform{
	position: absolute;
	margin-top: 50px;
	padding: 1rem;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 1.1rem;
	outline: 0;
	max-width: 500px;
}

.tx-tfm{
	text-transform:uppercase;
}

.mybtn{
	border-radius:50px;
}

.btn-primary {
	color: #fff;
	background-color: #d6001c;
	border-color: #8a090a;
}

.btn:hover {
	color: #fff;
	background-color: #d64755;
	border-color: #8a090a;
}

.login-or {
	position: relative;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}

.hr-or {
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}